.historique {
    border: 2px solid black;
    width: 30em;
}

.vote-body {
    border: 2px solid black;
    width: 30em;
}

.vote-unique {
    display: flex;
    width: 30em;

    img {
        width: 10em;
        height: 10em;
    }

    .right {
        display: flex;
        flex-direction: column;
        padding-left: 1em;

        a {
            margin-bottom: 1em;
            margin-top: auto;
            color: blue;
            text-decoration: underline;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.t {
    overflow-y: scroll;
    height: 40em;
}