<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar Accueil -->
        <a class="navbar-brand" routerLink="colleagues">Accueil</a>
        <!-- Navbar Accueil -->
        <a class="navbar-brand" routerLink="form-template">form piloté</a>
        <!-- Navbar Accueil -->
        <a class="navbar-brand" routerLink="form-reactive">form reactive</a>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->